<main>

  <div class="slider-area slider-bg ">
      <div class="slider-active dot-style">
          <div class="single-slider d-flex align-items-center slider-height ">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-lg-6 col-md-9 ">
                          <div class="hero__caption"><br><br>
                              <h1 data-animation="fadeInLeft" data-delay=".3s">Compra sin salir de casa! </h1>
                              
                              <p style="margin: 0px;" data-animation="fadeInLeft" data-delay=".6s">
                                <img style="height: 20px;" alt='shop' src='assets/img/store/whatsapp.svg'> 
                                Comunícate por medio de WhatsApp.
                              </p>

                              <p style="margin: 0px;" data-animation="fadeInLeft" data-delay=".6s">
                                <img style="height: 20px;" alt='shop' src='assets/img/store/messenger-2.svg'> 
                                También puedes hacerlo por Messenger.
                              </p>

                              <p style="margin: 0px;" data-animation="fadeInLeft" data-delay=".6s">
                                <img style="height: 20px;" alt='shop' src='assets/img/store/motocycle.svg'> 
                                Con opción de entregas a domicilio.
                              </p><br>


                              <div class="slider-btns">
                                <a data-animation="fadeInLeft" data-delay="1s" routerLink="/shop" class="btn radius-btn">Ir de compras</a>
                              </div><br>

                              <div class="slider-btns">
                                <a data-animation="fadeInLeft" data-delay="1s" routerLink="/commerce" class="btn radius-btn">Nuevo comercio</a>
                              </div><br>

                              <div class="slider-btns">
                                <a data-animation="fadeInLeft" data-delay="1s" routerLink="/jobs" class="btn radius-btn">Ofrecer mis servicios</a>
                              </div><br>

                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="hero__img d-none d-lg-block f-right">
                              <img src="assets/img/store/almacenes.svg" alt="" data-animation="fadeInRight" data-delay="1s">
                          </div>
                      </div>
                  </div>
              </div>
          </div>    
 
      </div>
  </div>
  <section class="all-starups-area section-padding2">

    <div class="starups">
        <div class="starups-details">

            <div class="section-tittle section-tittle3">
                <!--span>Express Delivery</span-->
                <h2>Que es Express Delivery?</h2>
            </div>

            <div class="details-caption">
              <p>
                A raíz del brote de COVID-19, los pequeños comercios y productores locales pasan por una situación muy complicada,
                ya que muchos de ellos necesitan seguir trabajando y no tienen algún medio o plataforma para darse a conocer a 
                diferencia de grandes corporaciones. Con esta web app se pretende dar a conocer a estos pequeños comercios, 
                permitiendoles comunicarse con otras personas. Y de alguna manera que las personas puedan seguir comprando en sus 
                comercios de confianza en los vecindarios.                  
              </p>
            </div>
            
            <a routerLink="/shop" class="btn">Vamos de compras</a>
        </div>
    </div>
  </section>

  <div class="services-area section-padding30 fix">
      <div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <div class="section-tittle text-center mb-100">
                      <!--span>Servicios</span-->
                      <h2>No necesitas pagar ningún tipo de suscripción. Es totalmente gratis.</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="services-wrapper mb-50">
                      <div class="single-services">
                          <div class="services-icon">
                              <img style="height: 50px;" alt='shop' src='assets/img/store/shopping-2.svg'>
                          </div>
                          <div class="services-cap">
                              <h3><a routerLink="/shop">Ir de compras</a></h3>
                              <p>
                                En este mercado en línea podras encontrar comercios que están cerca de tu zona, desde tiendas de conveniencias
                                hasta librerías, te podrás comunicar con ellos por medio de WhatsApp o Messenger y asi de facil coordinar tu pedido
                                sin salir de casa.
                              </p>
                              <a routerLink="/shop" class="get-btn"><i class="ti-arrow-right"></i> Vamos de compras</a>
                          </div>
                      </div>
                      <div class="services-shape">
                          <span>01</span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-wrapper mb-50">
                    <div class="single-services">
                        <div class="services-icon">
                            <img style="height: 50px;" alt='shop' src='assets/img/store/store.svg'>
                        </div>
                        <div class="services-cap">
                            <h3><a routerLink="/commerce">Postula un comercio</a></h3>
                            <p>
                              Si sabes de alguien que tiene un comercio, tu mismo puedes postularlo y ayudarlo a que mas personas lo conozcan.
                            </p>
                            <a routerLink="/commerce" class="get-btn"><i class="ti-arrow-right"></i> Nuevo comercio</a>
                        </div>
                    </div>
                    <div class="services-shape">
                        <span>02</span>
                    </div>
                </div>
            </div>              
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="services-wrapper mb-50">
                      <div class="single-services">
                          <div class="services-icon">
                            <img style="height: 50px;" alt='shop' src='assets/img/store/employment.svg'>
                          </div>
                          <div class="services-cap">
                              <h3><a routerLink="/jobs">Estas sin empleo?</a></h3>
                              <p>Te quedaste sin empleo, pero tienes vehículo de 2 o 4 ruedas.</p>
                              <p>
                                Crea un perfil con el cuál las personas se comuniquen contigo, tu podrías ayudar a
                                aquellos comercios que no cuentan con servicio a domicilio y podrias generar ingresos para ti.
                              </p>
                              <a routerLink="/jobs" class="get-btn"><i class="ti-arrow-right"></i> Ofrecer mis servicios</a>
                          </div>
                      </div>
                      <div class="services-shape">
                          <span>03</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</main>

