
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "true">
  <p style="color: white" > Cargando... </p>
</ngx-spinner>

<main>
  
  <div class="slider-area slider-bg "><br>
    <div class="single-slider d-flex align-items-center slider-height3 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                      <div class="slider-btns">
                        <a data-animation="fadeInLeft" data-delay="1s" routerLink="/home" class="btn radius-btn">Regresar</a>
                      </div><br>                          
                        <h2>Mercado en línea</h2>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
  </div>

<div class="container-fluid"><br>


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="home" aria-selected="true"><strong style="color:#495057">Todos</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#category" role="tab" aria-controls="profile" aria-selected="false"><strong style="color:#495057">Por categoría</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#maps" role="tab" aria-controls="contact" aria-selected="false"><strong style="color:#495057">Mapa</strong></a>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab"><br>
    
      <div class="container" *ngIf="shops.length < 1">
        Ups, al parecer aún no hay comercios registrados, quieres ser el primero en registrar un comercio.
        <div class="slider-btns"><br>
          <a data-animation="fadeInLeft" data-delay="1s" routerLink="/commerce" class="btn radius-btn">Nuevo comercio</a>
        </div><br>        
      </div>

      <div class="col-xl-8">
        <form action="#" class="search-box">
            <div class="input-form">
                <input type="text" placeholder="Busca el comercio aquí"  [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="search-form" (click)="search()">
                <a>Buscar</a>
            </div>
              <button class="search-form genric-btn primary radius" (click)='clear()'>
                Limpiar
              </button><br>
        </form>	
      </div>
      
      <section class="blog_area section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 mb-5 mb-lg-0">
                      <div class="blog_left_sidebar">

                          <article class="blog_item" *ngFor='let s of shops' [routerLink]="['/shop-detail/' + s.dbid]">
                              <div class="blog_item_img">
                                  <img class="card-img rounded-0" style="height: 150px;" src={{src}}{{s.image}} alt="">
                                  <a class="blog_item_date">
                                      <h3>
                                        {{s.name}}
                                      </h3>
                                  </a>
                              </div>
                              <div class="blog_details">
                                <img class="card-img rounded-0" style="height: 35px;" src='assets/img/store/click.svg'>                                                                          
                                  <p>{{s.description}}</p>
                              </div>
                          </article>
      
                      </div>
                  </div>
              </div>
          </div>
      </section> 
    </div>

    <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="category-tab"><br>
    <div class="col-lg-8">
        <aside class="single_sidebar_widget post_category_widget">
          <h4 class="widget_title">Categoría</h4>
          <ul class="list cat-list">
            <li *ngFor='let c of categories'>
                <a [routerLink]="['/shop-category/' + c.dbid]"class="d-flex">
                  <img style="height: 35px;" alt='shop' src={{src}}{{c.description}}>  
                  <p> {{c.name}}</p>
                  <!--p>(0)</p-->
                </a>
            </li>
          </ul>
      </aside>


    </div>

    </div>
    <div class="tab-pane fade" id="maps" role="tabpanel" aria-labelledby="maps-tab">
      <br>
      <img class="card-img rounded-0" style="height: 35px;" src='assets/img/store/click.svg'>       
      <p>
        Al dar clic en los iconos que aparecen en el mapa podrá ver información del comercio
        y comunicarse por medio de Whatsapp.
        <img class="card-img rounded-0" style="height: 35px;" src='assets/img/store/whatsapp.svg'> 
      </p>
      <div id="mapByCity" class="tabcontent" style="width: 100%; height:600px;"></div>

    </div>
  </div>  
</div>


</main>