
<header>

  <div class="header-area header-transparent">
        <div class="main-header">
          <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-1 col-md-1">
                            <div class="logo">
                              <a routerLink="/home"><img style="height:40px;" src="assets/img/store/shopping.svg" alt=""> Express Delivery</a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation">                                                                                                                                     
                                        <li><a routerLink="/home">Inicio</a></li>
                                        <li><a routerLink="/shop">Ir de compras</a></li>
                                        <li><a routerLink="/jobs">Servicios</a></li>
                                        <li><a routerLink="/commerce">Nuevo comercio</a></li>                                        
                                        <li><a routerLink="/about">Acerca de...</a></li>                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>             
                    </div>
                </div>
          </div>
        </div>
  </div>
</header>